
*{
    margin: 0;
    padding: 0;


}
body{
    background-color: beige;
}

#menu,#bucket{
    margin-top: 2vw;
padding-left: 2vw;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
column-gap: 18vw;
padding-right: 2vw;
row-gap: 2vw
;
font-family: Arial, Helvetica, sans-serif;
}


#img {
    height: 15vw;
    width: 20vw;
}
#div {
    padding-top: 1vw;
    border: 2px solid rgb(150, 140, 140);
    height: 26vw;
    width: 22vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    text-align: center;
}
#bucket{
  
}
#type{
  
    font-size: 20px;
    margin-top: 1vw;
}
#price{
    font-size: 20px;
    margin-top: 1vw;


}

#coffee_count{
    font-size: 28px;
    text-align: right;
    position: relative;
    bottom: 62px;
    right: 1.8vw;
    color: rgb(42, 84, 120);
 
}

#add_to_bucket,#remove_coffee{
    font-size: 20px;
   height: 2vw;
   margin-top: 1vw;
   width: 10vw;
}

ul{
    list-style: none;
    display: flex;
   
    background-color: rgb(207, 106, 106);
    height: 5vw;
    padding-left: 74vw;
    font-size: 25px;

}
li{
    margin-left: 1vw;
    margin-top: 1vw;
}
nav{
    text-align: right;
}
a{
    text-decoration: none;
    color: coral;
   
}
a:hover{
    cursor: pointer;
}
.count{
    font-size: 33px;
    background-color: rgb(163, 186, 186);
    height: 3vw;
    padding-top: 1vw;
    padding-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;

}

#confirm_checkout{
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    height: 3vw;
    width: 8vw;
}


input{
    height: 3vw;
    width: 15vw;
  
    margin-left: 2vw;
    font-size: 20px;
}

#confirm{
    height: 3vw;
    width: 12vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    font-size: 23px;
}
#confirm:hover{
    background-color: brown;
    cursor: pointer;
}
form{
    padding-top: 2vw;
    width: 80vw;
    background-color: rgb(222, 213, 231);
    height: 4vw;
}
